 * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color:  yellow;
}

.mainbox {
  width: 1000px;
  height: 600px; /*will be removed later */
  background-color: white;
  border: 3px solid gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

/*  General classes for the page */
.boldtext {
  font-weight: 700;
}

.centertext {
  text-align: center;
}


/* Styles for the header section */

.header{
  background-color: orange;
  text-align: center;
  font-weight: 700;
}

/* Styles for the nav section */


/* Styles for the main / sections section */


/* Styles for the footer section */

.footer{
  background-color: orange;
  text-align: center;
  font-weight: 700;
}

/* Styles for the receipt printed on the screen. */
table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 2px;
}


.resultstable {
  width: 300px;
  margin: auto;
  background-color: white;
}

.resultstable .lefttext {
  text-align: left;
}


.resultstable .righttext {
  text-align: right;
}


.resultstable .centertext {
  text-align: center;
}

.resultstable .Orangerow {
  background-color: orange;
  text-align: center;
}